/* init magic
 * ----------------------------------------------------------- */
ul{	list-style: none; margin: 0; padding: 0;}

body.init { padding:0; background-color: #eee;}
body.init > #main { display: none; }
#main {	overflow: hidden; margin:0 auto;}

#header, #wrapper {
	background: #eee;
	min-height: 100px;
	max-width: 1140px;
	margin: 0 auto;
	padding-top: 0.5em;
	width: 100%;
}

#header>*{
	color: #666;
	text-shadow: -1px 1px 1px #fff;
}

/* #LEFT_PANEL
 * ----------------------------------------------------------- */
#left_panel, #right_panel{
	width: 17%;
	height: 100px;
	float: left;
	padding-top: 56px;
}

.nav li a {
	padding: 0 4px;
	margin-bottom: 2px;
	display: block;
	font-size: 12px;
	border-width: 0 0 0 3px;
	border-style: solid;
	border-color: #bbb;
	color: #bbb;
}

.nav li a:hover {
	background-color: #bbb;
	color: #fff;
}

div.nav>ul.cat>.selected>a {
	font-weight: bold;
	color: #fff;
	background: rgb(206, 206, 206);
}

.nav {
	font-size: 9pt;
	margin-bottom: 20px;
	max-width: 140px;
}

/* #LIBVIEW
 * ----------------------------------------------------------- */
#libview {
	background: #eee;
	display: block;
	width: 66%;
	float:left;
}

/* .TILE
 * ----------------------------------------------------------- */
.tile {
	background: #fff;
	border-left: 5px solid;
	box-shadow: -2px 1px 5px rgb(190, 190, 190);
	float: left;
	margin: 12px;
	padding: 5px 6px;
	width: 44%;
	position: relative;
}

.tile.col_0 { clear: both;}

.tile .title { margin: 0; padding: 0; text-align: left;}
.tile .title a { color: rgb(39, 45, 90); font-weight: bold;}
.tile .title .ep {
	background-color: rgb(232, 241, 248);
	border-radius: 5px;
	color: rgb(46, 67, 109);
	font-weight: bold;
	padding: 1px;
}

.tile .group {
	color: rgb(54, 94, 155);
	font-size: 11px;
	font-weight: bold;
	margin: 0;
	text-align: left;
}
.tile .group.auth_ok {color:green;}
.tile .group.auth_bad {color:red;}

.tile .comment {
	border-top: 1px solid #eee;
	color: rgb(175, 175, 175);
	font-size: 9px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.tile .thumb { float: right; margin-left: 4px;}

.tile .ribbon {
	overflow: hidden;
	position: absolute;
	width: 50px;
	height: 30px;
	top: -2px;
	right: -2px;
}
.tile .ribbon .version{
	position: absolute;
	top: 3px;
	right: -27px;
	color: #fff;
	background: rgb(34, 52, 58);
	width: 83px;
	text-align: center;
	-webkit-transform: rotate(31deg);
	border: 1px dashed rgb(255, 255, 255);
	box-shadow: 1px 0px 6px rgba(0,0,0,.5);
	font-size: 9px;
	font-weight: bold;
}

.tile .meta {
	position: absolute;
	bottom: 0;
	overflow: hidden;
}

/* Meta data 
 * ----------------------------------------------------------- */
.tile .meta > span {
	background-color: #fff;
	border-color: #888;
	color: #888;
	border-style: solid;
	border-width: 0 0px 0 3px;
	font-family: verdana;
	font-size: 7px;
	font-weight: bold;
	margin-right: 3px;
	padding: 0px 6px 1px 2px;
	position: relative;
	top: 1px;
}
.tile .meta .size {			border-color: #2D2D2D;	color: #2D2D2D;}
.tile .meta .extra_unsafe {	border-color: #611B6A;	color: #611B6A;}
.tile .meta .extra {		border-color: #53708A;	color: #53708A;}
.tile .meta .resolution {	border-color: #7E4A47;	color: #7E4A47;}
.tile .meta .video {		border-color: #957F5E;	color: #957F5E;}
.tile .meta .audio {		border-color: #649A79;	color: #649A79;}

/* Animation Properties 
 * ----------------------------------------------------------- */
.tile.waitForAnimation{
	opacity: 0;
}

/* Category Colors
 * ----------------------------------------------------------- */
.category_1, .category_1>a {	border-color: rgb(255, 112, 0)!important;}
.category_2, .category_2>a {	border-color: rgb(163, 163, 163)!important;}
.category_3, .category_3>a {	border-color: rgb(52, 124, 180)!important;}
.category_4, .category_4>a {	border-color: rgb(224, 0, 255)!important;}
.category_5, .category_5>a, 
.category_6, .category_6>a {	border-color: rgb(255, 255, 255)!important;}
.category_7, .category_7>a {	border-color: rgb(0, 0, 0)!important;}
.category_8, .category_8>a {	border-color: rgb(177, 112, 62)!important;}
.category_9, .category_9>a {	border-color: rgb(255, 214, 0)!important;}
.category_10, .category_10>a {	border-color: rgb(22, 170, 45)!important;}
.category_11, .category_11>a {	border-color: rgb(178, 255, 246)!important;}
.category_12, .category_12>a {	border-color: rgb(151, 0, 172)!important;}
.category_13, .category_13>a {	border-color: rgb(236, 102, 255)!important;}
.category_14, .category_14>a {	border-color: rgb(245, 174, 255)!important;}
.category_15, .category_15>a {	border-color: #d4daf0!important;}

/* Other Libview stuff
 * ----------------------------------------------------------- */
.time_ago {
	clear:both;
	color: #ccc;
	font-size: 18px;
	font-family: georgia;
	padding: 12px 0px;
	text-align:center;
	text-shadow: -1px 1px 1px #fff;
	width:100%;
}

.clearfix {	clear: both; } /* quick & lazy method, fuck IE */