/* init magic
 * ----------------------------------------------------------- */
ul{	list-style: none; margin: 0; padding: 0;}

body.init { 
	background-attachment: fixed;
	background-image: url(http://www.thekohrs.net/mal/tt/squairy_light.png); /*subtlepatterns.com*/
	padding:0; 
}

body.init > #main { display: none; }
#main {	overflow: hidden; margin:0 auto;}

#header, #wrapper {
	min-height: 100px;
	max-width: 1140px;
	margin: 0 auto;
	padding-top: 0.5em;
	width: 100%;
}

#wrapper {
	min-height: 500px;
	margin-bottom: :50px;
}

#header>*{
	color: #666;
	text-shadow: -1px 1px 1px #fff;
}

/* #LEFT_PANEL & #RIGHT_PANEL
 * ----------------------------------------------------------- */
#left_panel, #right_panel{
	width: 27%;
	height: 100px;
	float: left;
	padding-top: 56px;
}

.nav {
	font-size: 9pt;
	margin: 0 15%;
	margin-bottom: 20px;
	max-width: 140px;
}

.nav a {
	padding: 0 4px;
	margin-bottom: 2px;
	display: block;
	font-size: 12px;
	border-style: solid;
	border-color: #bbb;
	color: #666;
}
#left_panel .nav {margin-left: auto;}
#left_panel .nav a {border-width: 0 3px 0 0; text-align: right;}
#right_panel .nav a {border-width: 0 0 0 3px;}

.nav a:hover {
	background-color: #bbb;
	color: #fff;
	text-decoration: none;
	text-shadow:1px -1px 1px #aaa;
}

div.nav>ul.cat>.selected>a {
	font-weight: bold;
	color: #fff;
	background: rgb(206, 206, 206);
}

.searchfield {
max-width: 1140px;
width: 100%;
text-align: center;
}

#search {
max-width: 285px;
width: 100%;
border-radius: 7px;
background-color: rgba(255,255,255,.5);
border-style: none;
font-size: 15px;
padding: 4px 2%;
text-align: center;
font-family: georgia;
color: #999;
font-weight: bold;
border-left: 4px solid;
border-right: 4px solid;
}

#search:focus{
	background-color: #fff;
}

/* #LIBVIEW
 * ----------------------------------------------------------- */
#libview {
	display: block;
	width: 46%;
	float:left;
	text-align: center;
}

/* .TILE
 * ----------------------------------------------------------- */
.tile {
	background: #fff;
	border-left: 5px solid;
	box-shadow: -2px 1px 5px rgb(190, 190, 190);
	display: inline-block;
	float: none;
	margin: 9px 1%;
	padding: 1%;
	position: relative;
	text-align: left;
	width:95%;
}

.tile.col_0 { clear: both;}

.tile .title { margin: 0; padding: 0; text-align: left;}
.tile .title a { color: rgb(39, 45, 90); font-weight: bold;}
.tile .title .ep {
	background-color: rgb(232, 241, 248);
	border-radius: 5px;
	color: rgb(46, 67, 109);
	font-weight: bold;
	padding: 1px;
}

.tile .group {
	color: rgb(54, 94, 155);
	font-size: 11px;
	font-weight: bold;
	margin: 0;
	text-align: left;
}
.tile .group a{
	color:inherit;
}
.tile .group.auth_ok {color:green;}
.tile .group.auth_bad {color:red;}

.tile .comment {
	border-top: 1px solid #eee;
	color: rgb(175, 175, 175);
	font-size: 9px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.tile .thumb { float: right; margin-left: 4px;}

.tile .thumb .score {
display: none;
position: absolute;
bottom: 5px;
right: 3px;
color: #FFF;
background-color: #001969;
font-weight: bold;
font-size: 9px;
padding: 3px 6px;
border-radius: 4px;
}

.tile .thumb:hover .score {
display: block;
}

.tile .ribbon {
	overflow: hidden;
	position: absolute;
	width: 50px;
	height: 30px;
	top: -2px;
	right: -2px;
}
.tile .ribbon .version{
	position: absolute;
	top: 3px;
	right: -27px;
	color: #fff;
	background: rgb(34, 52, 58);
	width: 83px;
	text-align: center;
	-webkit-transform: rotate(31deg);
	border: 1px dashed rgb(255, 255, 255);
	box-shadow: 1px 0px 6px rgba(0,0,0,.5);
	font-size: 9px;
	font-weight: bold;
}

.tile .meta {
	position: absolute;
	bottom: 0;
	overflow: hidden;
}

.tile .leftcol {
float: left;
width: 18px;
margin-left: 2px;
height: 59px;
}

.tile .leftcol a {
display: block;
height: 19px;
text-align: center;
}

/* Meta data 
 * ----------------------------------------------------------- */
.tile .meta > span {
	background-color: #fff;
	border-color: #888;
	color: #888;
	border-style: solid;
	border-width: 0 0px 0 3px;
	font-family: verdana;
	font-size: 7px;
	font-weight: bold;
	margin-right: 3px;
	padding: 0px 6px 1px 2px;
	position: relative;
	top: 1px;
}
.tile .meta .audioType 		{border-color: #649A79;	color: #649A79;}
.tile .meta .extras_unsafe 	{border-color: #611B6A;	color: #611B6A;}
.tile .meta .extras 		{border-color: #53708A;	color: #53708A;}
.tile .meta .resolution 	{border-color: #7E4A47;	color: #7E4A47;}
.tile .meta .size 			{border-color: #2D2D2D;	color: #2D2D2D;}
.tile .meta .videoType 		{border-color: #957F5E;	color: #957F5E;}

/* Animation Properties 
 * ----------------------------------------------------------- */
.tile.waitForAnimation{
	opacity: 0;
}

/* Category Colors
 * ----------------------------------------------------------- */
.cat_1, .cat_1>a {		border-color: #FF7000!important;}
.cat_2, .cat_2>a {		border-color: #FFF68C!important;}
.cat_3, .cat_3>a {		border-color: #347CB4!important;}
.cat_4, .cat_4>a {		border-color: #F400FF!important;}
.cat_5, .cat_5>a, 
.cat_6, .cat_6>a {		border-color: #FFF!important;	}
.cat_7, .cat_7>a {		border-color: #000!important; 	}
.cat_8, .cat_8>a {		border-color: #B1703E!important;}
.cat_9, .cat_9>a {		border-color: #FFD600!important;}
.cat_10, .cat_10>a {	border-color: #16AA2D!important;}
.cat_11, .cat_11>a {	border-color: #B2FFF6!important;}
.cat_12, .cat_12>a {	border-color: #FF0085!important;}
.cat_13, .cat_13>a {	border-color: #8038FF!important;}
.cat_14, .cat_14>a {	border-color: #FFCDE7!important;}
.cat_15, .cat_15>a {	border-color: #d4daf0!important;}

.nav .cat_1.selected>a, .nav .cat_1>a:hover {	background-color: #FF7000!important;}
.nav .cat_2.selected>a, .nav .cat_2>a:hover {	background-color: #FFF68C!important; 	color:#666;}
.nav .cat_3.selected>a, .nav .cat_3>a:hover {	background-color: #347CB4!important;}
.nav .cat_4.selected>a, .nav .cat_4>a:hover {	background-color: #F400FF!important;}
.nav .cat_5.selected>a, .nav .cat_5>a:hover,
.nav .cat_6.selected>a, .nav .cat_6>a:hover {	background-color: #FFF!important; 		color:#666;}
.nav .cat_7.selected>a, .nav .cat_7>a:hover {	background-color: #000!important;}
.nav .cat_8.selected>a, .nav .cat_8>a:hover {	background-color: #B1703E!important;}
.nav .cat_9.selected>a, .nav .cat_9>a:hover {	background-color: #FFD600!important;}
.nav .cat_10.selected>a, .nav .cat_10>a:hover {	background-color: #16AA2D!important;}
.nav .cat_11.selected>a, .nav .cat_11>a:hover {	background-color: #B2FFF6!important; 	color:#666;}
.nav .cat_12.selected>a, .nav .cat_12>a:hover {	background-color: #FF0085!important;}
.nav .cat_13.selected>a, .nav .cat_13>a:hover {	background-color: #8038FF!important;}
.nav .cat_14.selected>a, .nav .cat_14>a:hover {	background-color: #FFCDE7!important; 	color:#666;}
.nav .cat_15.selected>a, .nav .cat_15>a:hover {	background-color: #d4daf0!important;}

/* Other Libvie 	border-color: #d4daf0!important;}

/* Other Libview stuff
 * ----------------------------------------------------------- */
.time_ago {
	clear:both;
	color: #ccc;
	font-size: 14px;
	font-family: georgia;
	padding: 12px 0px;
	text-align:center;
	text-shadow: -1px 1px 1px #fff;
	width:100%;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,.7);
}

#website{
	background-color: #fff;
	display: block;
	height: 80%;
	margin: 50px auto;
	max-height: 800px;
	max-width: 1140px;
	width: 100%;
}


.clearfix {	clear: both; } /* quick & lazy method, fuck IE */
.sprite_web, .sprite_details {width: 12px; height: 12px;}

.spacer {width:100%; height: 1px;}
.loading {
	color: #ccc;
	-webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0
}
.error {
	color: #C21212;
}
.msg {
	font-size: 22px;
	font-family: georgia;
	padding-top: 36px;
	display: block;
	text-shadow: -1px 1px 1px #FFF;
}


@media screen and (max-width : 768px){
	.tile{width:94%;}
		#libview {width:50%;}
		#left_panel, #right_panel{
		width: 25%;
	}

	.nav {margin:0 10px;}

}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}